body {
    text-align: center;
    line-height: 40px;
    background-color: lightblue;
}

ol {
    display: table;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

ul {
    display: table; /*이거 이해가 좀 안 가넹..*/
    margin-left: auto;
    margin-right: auto;
}

.link {
    padding: 40px;
}

.title {
    background-color: pink;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

.content {
    background-color: floralwhite;
    width:1000px;
    margin: 0 auto;
    /*맨 위부터 시작할 수 있게..? 타이틀에서부터 바로 시작할 수 있게 하는 방법 알아오기*/
}